# Server
PORT=3001

# Microsoft SQL Server
MSSQL_HOST=localhost
MSSQL_PORT=1433
MSSQL_USER=sa
MSSQL_PASSWORD=BD_PASSWORD
MSSQL_DATABASE=HumanMobility
MSSQL_OPTIONS_ENCRYPT=false
MSSQL_OPTIONS_TRUST_SERVER_CERTIFICATE=true

# Seguridad
CORS_ORIGINS=http://localhost:5173
JWT_SECRET=your-secret-key-here
